.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 500px;
    max-height: 400px;
    grid-area: experience;

    p{
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: var(--text-secondary);
    }

    .experience-language{
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            margin: 8px;
            filter: grayscale(100%);
        }
    }
    .experience-unit{
        width: 300px;
        height: 30px;
        border-radius: 24px;
        border: 1px solid var(--text-secondary);
        
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        .experience-measure{
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;

            height: 30px;
            border-radius: 24px;
            border: 1px solid linear-gradient(90deg, #777cf4, #64cebc 93.38%);
            background: linear-gradient(90deg, #777cf4, #64cebc 93.38%);

            color: var(--text-primary);
            font-weight: 300;
            text-align: center;
            font-size: 12px;

            &.measure-1{
                animation: measure-1 2s linear forwards;
                width: 33%;
            }
            &.measure-2{
                animation: measure-2 2s linear forwards;
                width: 66%;
            }
            &.measure-3{
                animation: measure-3 3s linear forwards;
                width: 100%;
            }

            @keyframes measure-1 {
                0% { width: 0; }
                100% { width: 33%; }
            }
            @keyframes measure-2 {
                0% { width: 0; }
                100% { width: 66%; }
            }
            @keyframes measure-3 {
                0% { width: 0; }
                100% { width: 100%; }
            }
        }
    }
    .experience-time{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }
    

    @media (min-width: 1028px) {
        align-items: flex-start;
        p{
            font-size: 24px;
            line-height: 28px;
        }
    }

}